@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  /* Fondo general y de componentes */
  --color-vnl-bg: var(--color-slate-50);
  --color-vnl-card: var(--color-white);

  /* Colores de marca y acentos */
  --color-vnl-primary: var(--color-indigo-600);
  --color-vnl-primary-hover: var(--color-indigo-700);
  --color-vnl-accent: var(--color-amber-500);

  /* Textos */
  --color-vnl-text-main: var(--color-slate-800);
  --color-vnl-text-muted: var(--color-slate-500);

  /* Estados de las predicciones */
  --color-vnl-success: var(--color-emerald-500);
  --color-vnl-error: var(--color-rose-500);
}
